.updatenode__controls{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);

}

.label-header-container{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    margin-bottom: 10px;
}
.back-btn{
    display: grid;
    align-items: center;
    justify-content: center;
    place-items:center;
    width: 15%;
    cursor: default;
}
.label-header{
    margin-bottom: 2px;
    width: 85%;
    padding: 5px;
    padding-left: 80px;
}


.label-text-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.label-text{
   color: rgb(182, 182, 182);
   padding-bottom: 10px;
}