.dndflow {
  flex-direction: row;
  display: flex;
  height: 90vh;
}
.dndflow-save{
  background-color: rgb(233, 233, 233);
  height: 50px;
  display: grid;
  
}
.save{
  display: flex;
  align-items: center;
 flex-direction: row-reverse;
  padding-right: 60px;
}
.save-btn{
  color: #024ceb;
  font-size: 12px;
  font-weight: 600;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #024ceb;
  margin: 5px;
}
.save-btn:active{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.dndflow aside {
  margin-top: 0.3px;
  border: 1.5px solid #d1d1d1;
  padding: 0px 0px 15px 0px;
  font-size: 12px;
  background: #fcfcfc;
  width: 200px;
}

.dndflow aside > * {
  margin-bottom: 10px;
  cursor: grab;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
.react-flow__handle {
  width: 5px;
  height: 5px;
  background-color:rgb(59, 59, 59);

}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
  width: 300px;
   
  }
}
