.dndnode.input {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
    border-radius: 3px;
    color: #024ceb;
    border:1px solid #024ceb;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
   .chat-icon svg{
    width: 1.5em;
    height: 1.5em;
  }
