

body {
  font-family: sans-serif;
  color: #111;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 768px) {
  .overview-example__add {
    display: block;
  }
}